<nav class="navbar">
  <div class="navbar-logo">MyLogo</div>
  <ul class="navbar-links" [class.active]="menuOpen">
    <li><a href="#" (click)="closeMenu()">Home</a></li>
    <li><a href="#" (click)="closeMenu()">About</a></li>
    <li><a href="#" (click)="closeMenu()">Services</a></li>
    <li><a href="#" (click)="closeMenu()">Contact</a></li>
  </ul>
  <div class="navbar-toggle" (click)="toggleMenu()" [class.open]="menuOpen">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
