<div class="container mt-5">
  <h2>Signup</h2>
  <form (ngSubmit)="register()">
    <input
      [(ngModel)]="email"
      name="email"
      type="email"
      class="form-control mb-2"
      placeholder="Email"
      required
    />
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      class="form-control mb-2"
      placeholder="Password"
      required
    />
    <button class="btn btn-primary">Register</button>
  </form>
  <p class="text-success mt-2">{{ message }}</p>
</div>
